@charset "UTF-8";
#titlePignon{
	padding-left:5px;
}
.titleNameFooter{
	display:flex;
	justify-content:center;
	
}
#logoFoot{
	padding-right:5px;
}
.authName{
	margin-top:15px;
	margin-right:5px;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
}
.pictureCity {
	height: 50px;
	width: 15px;
}