<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Ajout Cinema</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-4 col-xs-8">
				<div class="panel panel-primary">
					<div class="panel-heading">Enter New City</div>
					<div class="panel-body">
						<form th:action="@{/saveCinema}" method="POST">
						
							<div class="form-group">
								<label class="control-label">Country</label><input
									class="form-control" type="text" name="country"
									th:value="${cinema.country}"> <span
									th:errors="${cinema.country}"></span>

							</div>
						
						


						
							
							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>



</body>
</html>